i {
	font-size: 2.3em;
}

.container-fluid {
	width: 75%;
}

footer {
	position: relative;
	margin: 10px;
	clear:both;
	padding:20px;
}

.resume {
	font-size: 1.2em;
}

#search-thing {
	padding-top: 8px;
	padding-bottom: 0px;
}

div.navbar {
	margin-bottom: 5px;
}